.button_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px; /* Отступы от краев экрана */
    box-sizing: border-box;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent); /* Мягкий градиент, чтобы кнопка читалась на любом фоне */
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.next_button {
    width: 100%;
    padding: 18px 143px;
    background-color: #7E46E8;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.next_button:disabled {
    background-color: #2a2a2b;
    color: #FFF;
    opacity: 40%;
    cursor: not-allowed;
}