.App {
  text-align: center;
  background: #1c1c1e;
  padding: 12px 16px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.headline {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: white;
}

.headline-2m {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  color: white;

}

.headline-2 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: white;

}

/* Subtitle Small */
.subtitle-small {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: white;

}

.subtitle-small-m {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;

}

/* Body Large */
.body-large {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;

}

.body-large-m {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: white;

}

/* Body Medium */
.body-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;

}

.body-medium-m {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;

}

/* Body Small */
.body-small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: white;

}

.body-small-m {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: white;

}

input {
  color: white;
  background: none;
  border: 1px solid #ffffff66;
  height: 56px;
  border-radius: 10px;
  padding: 12px 16px;
  outline: none;
}

input::placeholder {
  font-size: 14px;
  color: #ffffff66;
}

.selection {
  background-color: #2A2A2B;
  padding: 12px 12px;
  border-radius: 10px;
}

.next_button{
  
}